<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxj.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.wxj.model.PO.Teacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_no" jdbcType="CHAR" property="jobNo" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="login_password" jdbcType="CHAR" property="loginPassword" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, job_no, name, login_password, create_time, modify_time, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.wxj.model.PO.TeacherExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wxj.model.PO.TeacherExample">
    delete from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wxj.model.PO.Teacher">
    insert into teacher (id, job_no, name, login_password, 
      create_time, modify_time, del_flag
      )
    values (#{id,jdbcType=INTEGER}, #{jobNo,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{loginPassword,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wxj.model.PO.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jobNo != null">
        job_no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="loginPassword != null">
        login_password,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobNo != null">
        #{jobNo,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="loginPassword != null">
        #{loginPassword,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wxj.model.PO.TeacherExample" resultType="java.lang.Long">
    select count(*) from teacher
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update teacher
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.jobNo != null">
        job_no = #{record.jobNo,jdbcType=CHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=CHAR},
      </if>
      <if test="record.loginPassword != null">
        login_password = #{record.loginPassword,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update teacher
    set id = #{record.id,jdbcType=INTEGER},
      job_no = #{record.jobNo,jdbcType=CHAR},
      name = #{record.name,jdbcType=CHAR},
      login_password = #{record.loginPassword,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wxj.model.PO.Teacher">
    update teacher
    <set>
      <if test="jobNo != null">
        job_no = #{jobNo,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="loginPassword != null">
        login_password = #{loginPassword,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wxj.model.PO.Teacher">
    update teacher
    set job_no = #{jobNo,jdbcType=CHAR},
      name = #{name,jdbcType=CHAR},
      login_password = #{loginPassword,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectUserByUserNameAndPassword" parameterType="com.wxj.model.DTO.LoginDTO" resultType="com.wxj.model.PO.UserInfo">
    select id, name, job_no code
    from teacher
    where job_no = #{record.username,jdbcType=CHAR}
    and login_password = #{record.password,jdbcType=CHAR}
  </select>

  <select id="selectTeacherByParams" parameterType="com.wxj.model.DTO.TeacherParamsDTO" resultType="com.wxj.model.VO.TeacherVO">
    select id, job_no jobNo, name
    from teacher
    where 1=1
    <if test='record.id != null'>
      and id = #{record.id,jdbcType=INTEGER}
    </if>
    <if test='record.jobNo != null and record.jobNo != ""'>
      and job_no = #{record.jobNo,jdbcType=CHAR}
    </if>
    <if test='record.name != null and record.name != ""'>
      and name like concat('%', #{record.name,jdbcType=CHAR}, '%')
    </if>
  </select>

  <select id="countTeacherByParams" parameterType="com.wxj.model.DTO.TeacherParamsDTO" resultType="java.lang.Long">
    select count(1)
    from teacher
    where 1=1
    <if test='record.id != null'>
      and id = #{record.id,jdbcType=INTEGER}
    </if>
    <if test='record.jobNo != null and record.jobNo != ""'>
      and job_no = #{record.jobNo,jdbcType=CHAR}
    </if>
    <if test='record.name != null and record.name != ""'>
      and name like concat('%', #{record.name,jdbcType=CHAR}, '%')
    </if>
  </select>

  <select id="selectTaughtByTeacherId" parameterType="java.lang.Integer" resultType="com.wxj.model.VO.TeacherTaughtVO">
    select c.name className, cou.code courseCode, cou.name courseName
    from teacher t
    LEFT JOIN teacher_class_course tcc on t.id = tcc.teacher_id
    LEFT JOIN class_course cc on tcc.class_course_id = cc.id
    LEFT JOIN class c on cc.class_id = c.id
    LEFT JOIN course cou on cc.course_id = cou.id
    where t.id = #{id,jdbcType=INTEGER}
  </select>
</mapper>